body {
    font-family: Lobster;
    background: lightgrey;
       
    }
.flex-container { 
    display: flex;
    flex-direction: row;
    background: lightgrey;
   }

.flex-item-left {
    background: green;
    width: 300px;
    height: 500px;

}

.flex-item-right{
    background: orange;
    width: 500px;
    height: 500px;


.navbar {
 
    background: yellow;
}

#sb {
    background-color: #000;
      text-align: center;
      color: #fff;
      border-radius: 25px;
      margin-top: 10px;
      width: 50vw;
  }
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: white;
    position: relative;
    width: 40vw;
}
#recover {
    color: #ccc;
    text-decoration: none;
    align-items: center;
 
  }

  .end {
    display: flex;
    justify-content: center;

  }
  
  #email {
    justify-content: left
   

